<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <h1>หน้าการจัดการสถานที่</h1>
  </div>
  <div>
    <ion-input type="text" style="padding:8px;margin:15px;width:30%;" placeholder="Type to filter the name column..."></ion-input>
  <ion-button (click)="addData()">AddData</ion-button>
  <ngx-datatable *ngIf="loadDatatable" class="material" [limit]="10" [rowHeight]="65" [headerHeight]="70"
    [footerHeight]="60" [rows]="data" [columns]="columns" [columnMode]="'force'">
  </ngx-datatable>
    <ngx-datatable 
  *ngIf="loadDatatable" 
  class="material" 
  [limit]="10" 
  [rowHeight]="65" 
  [headerHeight]="70" 
  [footerHeight]="60" 
  [rows]="data"
  [columns]="columns"
  [columnMode]="'force'">
</ngx-datatable>
  </div>
</ion-content>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content [fullscreen]="true">
      <div style="text-align: center;align-items: center;">
        <form #loginForm="ngForm" novalidate>
          <ion-input label="name" labelPlacement="stacked" fill="solid" [(ngModel)]="name" name="name" type="text"
            #username="ngModel" spellcheck="false" autocapitalize="off" errorText="name is required" required>
          </ion-input>
          <ion-input label="lastName" labelPlacement="stacked" fill="solid" [(ngModel)]="lastName" name="lastName"
            type="text" #username="ngModel" spellcheck="false" autocapitalize="off" errorText="lastName is required"
            required>
          </ion-input>
          <ion-input label="phone" labelPlacement="stacked" fill="solid" [(ngModel)]="phone" name="phone" type="text"
            #username="ngModel" spellcheck="false" autocapitalize="off" errorText="phone is required" required>
          </ion-input>
          <div class="ion-padding">
            <ion-button (click)="addDataToFirebase(loginForm)" type="submit" expand="block"
              id="open-modal">Add</ion-button>
          </div>
        </form>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>