<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Indistinct</ion-list-header>
          <ion-select name="hotpital" interface="popover" style="padding-left: 3%;" [value]="siteId" (ionChange)="selectSite($event)">
            <ion-select-option [value]="siteId">โรงพยายาลทั้งหมด</ion-select-option>
            <ion-select-option *ngFor="let item of site"
              [value]="item.site_id">{{item.site_name}}</ion-select-option>
          </ion-select>
          <ion-note>{{emailAdmin}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item lines="none" detail="false" (click)="handlePageSelected(p.url)">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-item lines="none" detail="false" (click)="test()">
            <ion-label>test</ion-label>
          </ion-item> -->
          <ion-item lines="none" detail="false" (click)="signout()">
            <ion-icon aria-hidden="true" slot="start" ios="settings-outline" md="settings-sharp"></ion-icon>
            <ion-label>signout</ion-label>
          </ion-item>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>